@font-face {
  font-family: 'Compare';
  src: url('/src/assets/fonts/Compare.otf');
}

:root {
  font-family: 'FUENTEGOD', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
:root, html, body, ul{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
html{
  background: linear-gradient(var(--body-bg-color-black), var(--body-bg-color-green));
  scroll-behavior: smooth;
}
button, a{
  user-select: none;
  cursor: pointer;
}
